<header>
  <div class="header-menu">
    <div class="app-title">
      <div class="title">Web App</div>
    </div>
    <div class="menu-list">
      <ul>
        <li *ngIf="!isLogin"><a href="/login">Login</a></li>
        <li *ngIf="!isLogin"><a href="/register">Register</a></li>
        <li *ngIf="isLogin"><a href="/user">User</a></li>
        <li *ngIf="isLogin"><a href="/setting">Setting</a></li>
        <li *ngIf="isLogin"><a href="/profile">Profile</a></li>
        <li *ngIf="isLogin"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div>Developed by Arati</div>
</footer>